[Desktop Entry]
Name=Euno
Comment=Wallet
Icon=/usr/share/pixmaps/eunoicon.png
Exec=/home/pi/eunowallet/euno-qt
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
