[Unit]
Description=EunoWallet
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/root/eunowallet/eunod
UMask=0002
KillSignal=SIGTERM
User=root
Group=root

RestartSec=1
Restart=on-failure

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=eunod-wallet
